.dropdown-custome{
    right:0px;
    left:auto !important;
}

.custom-select-user{
    width:auto;
}
.div-content{
    width:80%;
    border: 2px solid red;
    border-radius: 5px;
    padding:15px;
    padding-left:25px;
    padding-right:25px;
}

.div-content-title{
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

#btnSave{
    display:none;
}