.div-content{
    width:80%;
    border: 2px solid red;
    border-radius: 5px;
    padding:35px;
    padding-left:0px;
    padding-right:0px;
    padding-bottom:15px;
}

.div-title{
    margin-top:8%;
}

.parent{
    position:relative;
    height:500px;
}

