
form{
    padding:20px;
    padding-top:10px;
}

.parent{
    position:relative;
    height:500px;
}
.login-form-cus{
    width:500px;
    font-size: 87.5%;
    border : 2px solid rgb(123, 164, 233);
    border-radius:10px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.btn-login{
    margin-left: 50%;
    transform: translate(-50%,0);
    
}

#form-header{
    border-bottom: 2px solid rgb(123, 164, 233);
    background-color: rgb(123, 164, 233);
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom:10px;
    color: rgb(255, 255, 255);
    font-size:15px;
}



#frmLogin{
    width:280px;
}